/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/04/2018, 16:10:56
    Author     : joao
*/

.button:hover{
    -fx-background-color:  #69e2ff;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
}
.button{
    -fx-text-fill: #ffffff;
    -fx-background-color: #0081cb;
}
.pane{
    -fx-background-color:#0081cb;
}